* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background-color: black;
}

.game {
  width: 100%;
  height: 600px;
  border-bottom: 25px solid green;
  margin: 0 auto;
  position: relative;
  overflow: hidden;

  background: linear-gradient(#87ceeb, #e0f6ff);
}

.night{
  width: 100%;
  height: 600px;
  border-bottom: 25px solid green;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  background: linear-gradient(#0e0f0f, #3f4547);
}

.lua{
  position: absolute;
  margin: 10px 0 0 75%;
}

.lua a{
  width: 150px;
  height: 200px;
}

.mario {
  position: absolute;
  width: 150px;
  bottom: 0;
  
}

.score{
  position: absolute;
  color: #000;
  font-size: 24px;
  padding: 10px;
}

.jump{
    animation: jump-mario 500ms ease-out;
}

.clouds {
  position: absolute;
  width: 550px;
  animation: clouds-animation 8s infinite linear;
}

.pipe1{
  position: absolute;
  bottom: 0;
  width: 80px;
  animation: pipe-animation 2s infinite linear;
}

.pipe2{
  position: absolute;
  bottom: 0;
  width: 80px;
  animation: pipe-animation 2.5s infinite linear;
}

.gameOver{
  position: absolute;
  flex-direction: column;
  
  display: flex;
  align-items: center;
  gap: 10px;
  color: #fff;
  margin-left: 50%;
  margin-top: 15%;

}

.btn1{
  background-color: rgb(211, 211, 21);
  width: 200px;
  height: 80px;
  border-radius: 10px;
  font-size: 24px;
  cursor: pointer;
}
.btn1:hover{
  background-color: yellow;
  transform: scale(1.2);
}

h2{

  font-family: sans-serif;
  font-size: 58px;
  color: #fff;
}

.score{
  display: flex;
  align-items: center;
  color: brown;
}

h3{
  padding: 15px;
}

.hide{
  display: none;
}

.jumpMobileButton{
  display: flex;
  align-items: center;
  justify-content: center;

  margin-top: 48px;
}

#jumpMobile{
  background-color: gray;
  width: 100px;
  height: 50px;
  border-radius: 10px;
  font-size: 16px;
  font-weight: 700;
}

#jumpMobile:hover{
  background-color: #3f4547;
  color: #fff;
  cursor: pointer;
}


@keyframes pipe-animation {
  from {
    right: -1200px;
  }
  to {
    right: 100%;
  }
}

@keyframes clouds-animation{
  from {
    right: -80px;
  }
  to {
    right: 100%;
  }
}

@keyframes jump-mario {
  0% {
    bottom: 0;
  }
  45% {
    bottom: 180px;
  }
  50%{
    bottom: 180px;
  }

  75% {
    bottom: 180px;
  }
  100% {
    bottom: 0;
  }
}
